<p>register works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">

          <h5 class="card-title text-center mb-5 fw-light fs-5">{{ title }}</h5>

          <form [formGroup]="_registerForm">
            <div class="form-floating mb-3">
              <input type="Ad"
                     class="form-control"
                     id="floatingName"
                     formControlName="Ad"
                     placeholder=Ad>
              <label for="floatingName">Ad</label>
            </div>
            <div class="form-floating mb-3">
              <input type="soyad"
                     class="form-control"
                     id="floatingSurname"
                     formControlName="soyad"
                     placeholder="Soyad">
              <label for="floatingSurname">Soyad</label>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Cinsiyet</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Seçiniz...</option>
                <option value="1">Kadın</option>
                <option value="2">Erkek</option>
                <option value="3">Hiçbiri</option>
              </select>
            </div>

            <div class="form-floating mb-3">
              <input type="email"
                     class="form-control"
                     id="floatingInput"
                     formControlName="email"
                     placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
              <input type="şifre"
                     class="form-control"
                     id="floatingPassword"
                     formControlName="şifre"
                     placeholder="Şifre">
              <label for="floatingPassword">Şifre</label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input"
                     type="checkbox"
                     formControlName="isRemember"
                     id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">
                Şifreyi hatırla
              </label>
            </div>

          </form>

          <div class="d-grid">
            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" (click)="signIn()">Sign in</button>
          </div>

          <br>

          {{ _registerForm.valid }}

        </div>
      </div>
    </div>
  </div>
</div>
