<div class="container">

  <div class="row p-3 mb-2 bg-light text-dark">
    <form class="p-2 col-3">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
             name="searchKey"
             [(ngModel)]="searchKey">
    </form>
  </div>

  <div class="row" *ngIf="!loading">
    <ng-container *ngIf="(productList | productFilter:searchKey).length > 0; else elseTemplate">
      <div *ngFor="let item of productList | productFilter:searchKey" class="col-3 p-2">
        <div class="card">
          <img src="{{item.image}}" class="card-img-top">
          <div class="card-body">
            <h5>{{ item.name }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text text-muted">Price: {{item.price}}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="row">
        <p class="text-center">Nothing found</p>
      </div>
    </ng-template>
  </div>


  <div class="text-center" *ngIf="loading">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>

