<p>bmi works!</p>
<div>
  <h2>BMI Hesaplama</h2>
  <p class="text">"Boy"</p>
  <input type="text" id="boy" #boy>
  <p class="text">"Kilo"</p>
  <input type="text "id="kilo" #kilo>
  <p id="Sonuç">{{total}}</p>
  <button id="btn" (click)="bmi(boy.value, kilo.value)">Hesapla</button>
  <p id="info">Lütfen boy[cm] ve kilo[kg] giriniz</p>
</div>
